body{
    background-color: #232323;
    margin: 0;
    font-family: 'Roboto', sans-serif;
 
}

.square{
    width: 30%;
    background-color: blueviolet;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    transition: background 0.7s;
    border-radius: 20%;
}

#container{
    max-width: 600px;
    margin: 25px auto;

}

h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 20px 0px;
    transition: background 0.7s;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected{
    background-color: steelblue;
    color: white;
}

#pickedColor{
    font-size: 1.5em;
}

button{
    border: none;
    background: none;
    height: 100%;
    font-weight: 700;
    font-size: 1.1em;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.4s;
}

button:hover{
    color: white;
    background-color: steelblue;
}

#message{
    display: inline-block;
    width: 20%;
}

button.focus, button:focus {
    outline: 0;
    box-shadow: none!important;
}
